<% include ./partials/header%>

<!-- ADVANTAGES OF YELCAMP => 4/2 ROW/COL SAYING ADVANTAGES OF YELPCAMP -->
<div class="container-fluid p-0" id="advantages">
	<div class="row mx-0 mb-md-5" id="advantagesRow1">
		<div class="col-12 order-2 mt-n1 col-md-6 order-md-1 p-0 m-0 image" style="background-image: url('../../img/guitar_camping.jpg'); background-repeat: no-repeat; 
			 background-size: contain; background-position: center;">
		</div>

		<div class="col-12 order-1 py-2 text-center col-md-6 d-md-flex align-items-center text"
			style="font-family: 'Rock Salt', cursive;">
			<div>
				<h1 class="display-4">YelpCamp</h1>
				<p class="mt-5">
					View our hand-picked campgrounds from all over the world
				</p>
			</div>
		</div>
	</div>

	<div class="row mx-0 mb-md-5 d-none d-md-flex" id="advantagesRow2">
		<div class="col-12 order-2 col-md-6 order-md-1 d-flex align-items-center justify-content-center"
			style="font-family: 'Rock Salt', cursive;">
			<div>
				<h1 class="display-4">YelpCamp</h1>
				<p class="mt-5">
					Here your pet will have a great time
				</p>
			</div>
		</div>

		<div class="col-12 h-100 w-100 order-1 col-md-6 order-md-2" style="background-image: url('../../img/cat_dog.jpg'); 
			 background-repeat: no-repeat; background-size: contain; background-position: center;">
		</div>
	</div>

	<div class="row mx-0 mb-md-5 d-none d-md-flex" id="advantagesRow3">
		<div class="col-12 col-md-6 p-md-0 m-md-0 h-100 w-100"
			style="background-image: url('../../img/girl-with-flowers.jpg'); background-repeat: no-repeat; background-size: contain; background-position: center;">
		</div>

		<div class="col-12 col-md-6 p-md-0 m-md-0 d-flex text-center align-items-center"
			style="color: #2B3163; font-family: 'Rock Salt', cursive;">
			<div>
				<h1 class="display-4">YelpCamp</h1>
				<p class="mt-5">
					Enhance your spirituality and connect with nature
				</p>
			</div>
		</div>
	</div>

	<div class="row mx-0 mb-md-5 d-none d-md-flex" id="advantagesRow4">
		<div class="col-12 order-2 col-md-6 order-md-1 d-flex align-items-center justify-content-center"
			style="font-family: 'Rock Salt', cursive;">
			<div>
				<h1 class="display-4">YelpCamp</h1>
				<p class="mt-5">
					Enjoy the amazing sights nature has to offer
				</p>
			</div>
		</div>

		<div class="col-12 h-100 w-100 order-1 col-md-6 order-md-2"
			style="background-image: url('../../img/lyon-bear.jpg'); background-repeat: no-repeat; background-size: contain; background-position: center;">
		</div>
	</div>
</div>

<!-- TOP RATED CAMPGROUNDS =>  -->
<div class="container mb-5" id="topCampgrounds">
	<div class="row mb-4">
		<div class="col-12 col-md-10 offset-md-1">
			<h1 class="text-center" style="font-family: 'Rock Salt', cursive;">
				Top rated Campgrounds
			</h1>
		</div>
	</div>
	<div class="row d-flex justify-content-center">
		<% campgrounds.forEach(function(campground){ %>
		<div class="col-lg-3 col-md-4 col-sm-6 pb-4 d-flex justify-content-center">
			<div class="card shadow " style="width: 18rem;">
				<a href="/campgrounds/<%= campground.id %>">
					<img src="<%= campground.image %>" class="campground-img card-img-top" alt="<%= campground.name %>">
				</a>
				<div class="card-body">
					<h5 class="card-title text-center"><strong><%= campground.name %></strong></h5>
					<p class="card-text">
						<% if(campground.description.length > 100){ %>
						<%= campground.description.substring(100, 0) + " ..." %>
						<%  } else { %>
						<%= campground.description %>
						<% } %>
					</p>
					<!--The ID already exist because it is created automatically-->
					<a href="/campgrounds/<%= campground._id %>" class="btn">See more</a>
				</div>
			</div>
		</div>
		<% }); %>
	</div>
</div>
<!-- TESTIOMONIALS => -->
<div class="row mb-5">
	<div class="col-12 col-md-10 offset-md-1">
		<h1 class="text-center" style="font-family: 'Rock Salt', cursive;">
			What our clients are saying about us
		</h1>
	</div>
</div>

<div class="container-fluid shadow" id="clientsTestimonials" style="background-image: url('./img/trees.png'); 
			background-repeat: no-repeat; background-size: cover; background-position: center;">
	<div class="row h-100 d-flex justify-content-center" style="background-color: rgba(43,49,99, 0.8);">
		<div class="row w-100 py-4" id="rowOfTestiomonials">
			<div class="col-12 col-sm-10 offset-sm-1 col-md-6 p-md-0 offset-md-0 col-xl-4 d-flex 
				 justify-content-center align-items-center">
				<div class="row w-75">
					<div class="bg-transparent rounded position-relative">
						<span class="text-white position-absolute mt-n4 ml-n3"
							style="top: 0; left: 0; font-size: 5em;font-family: 'Rock Salt', cursive;">
							"
						</span>
						<div class="m-3 p-3 mb-5 rounded position-relative">
							<p class="text-center text-justify text-white"
								style="word-wrap: break-word; font-family: 'Rock Salt', cursive;">
								I have been using YelpCamp for a couple of years. I always found beatiful places to
								spend
								the weekend with my friends.
							</p>
						</div>
						<div class="position-absolute mt-3" style="bottom: 0; left: 40%; height: 80px; width: 80px; border-radius: 50%; background-image: url('./img/user1.jpg'); 
												 background-repeat: no-repeat; background-size: cover; background-position: top;">
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-sm-10 offset-sm-1 col-md-6 p-md-0 offset-md-0 col-xl-4 d-flex 
				 justify-content-center align-items-center">
				<div class="row w-75">
					<div class="bg-transparent rounded position-relative">
						<span class="text-white position-absolute mt-n4 ml-n3"
							style="top: 0; left: 0; font-size: 5em;font-family: 'Rock Salt', cursive;">
							"
						</span>
						<div class="m-3 p-3 mb-5 rounded position-relative">
							<p class="text-center text-justify text-white"
								style="word-wrap: break-word; font-family: 'Rock Salt', cursive;">
								It was such an incredible experience. I was able to meditate, live in the present, and I am
								now more than grateful for
								what nature gives us. This will be my go-to place whenever I have vacations.
							</p>
						</div>
						<div class="position-absolute" style="bottom: 0; left: 40%; height: 80px; width: 80px; border-radius: 50%; background-image: url('./img/user2.jpg'); 
															 background-repeat: no-repeat; background-size: cover; background-position: top;">
						</div>
					</div>
				</div>
			</div>

			<div class="d-none p-0 d-xl-flex col-xl-4 justify-content-center align-items-center">
				<div class="row w-75">
					<div class="bg-transparent rounded position-relative">
						<span class="text-white position-absolute mt-n4 ml-n3"
							style="top: 0; left: 0; font-size: 5em;font-family: 'Rock Salt', cursive;">
							"
						</span>
						<div class="m-3 p-3 mb-5 rounded position-relative">
							<p class="text-center text-justify text-white"
								style="word-wrap: break-word; font-family: 'Rock Salt', cursive;">
								I came with my family and we found ourselves truly disconnected 
								from unnecessary elements such as work and cellphones, and we connected on so
								many levels as a family. My family and I are grateful for this experience and we can't wait
								to be back!
							</p>
						</div>
						<div class="position-absolute" style="bottom: 0; left: 40%; height: 80px; width: 80px; border-radius: 50%; background-image: url('./img/user3.jpg'); 
							 background-repeat: no-repeat; background-size: cover; background-position: top;">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- REGISTER CTA => -->
<section id="registerCTA">
	<div class="container-fluid m-0" style="height: 100%; background-color: #2B3163;">
		<div class="d-flex align-items-center justify-content-center h-100">
			<div class="row h-100 w-100 py-5">
				<div class="col-7 col-md-6 h-100 py-md-5 py-lg-4">
					<div class="row h-100">
						<div class="col-12 d-flex w-100 align-items-start justify-content-center pt-5">
							<section id="CTA-action">
								<header class="">
									<p class="h3 d-sm-none" style="color: #E6D7FF">
										Come to YelpCamp and enjoy the beauty of nature with your loved ones. Reconnect with nature!
									</p>
									<p class="d-none d-sm-block d-xl-none h1" style="color: #E6D7FF">
										Come to YelpCamp and enjoy the beauty of nature with your loved ones. Reconnect with nature!
									</p>
									<p class="d-none d-xl-block display-4" style="color: #E6D7FF">
										Come to YelpCamp and enjoy the beauty of nature with your loved ones. Reconnect with nature!
									</p>
								</header>
								<p class="h4 d-xl-none my-4" style="color: #CDB30C">
									Here you will be able to find the most beautiful places for camping.
								</p>
								<p class="d-none d-xl-block h3 my-4" style="color: #CDB30C">
									Here you will be able to find the most beautiful places for camping.
								</p>
								<button class="btn btn-success btn">
									<a href="/register">
										Sign Up
									</a>
								</button>
							</section>
						</div>
					</div>
				</div>
				<div class="col-5 col-md-6 w-100 py-md-5 py-lg-4">
					<section id="CTA-image" class="w-100 h-100">
						<div class="row w-100 h-100 m-0">
							<div class="w-100 h-100" style="background-image: url('./img/cta-image.png'); 
							 background-repeat: no-repeat; background-size: cover; background-position: center;">
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- FOOTER => -->
<% include ./partials/footer%>