<% include ../partials/header%>

<!-- All CAMPGROUNDS => -->
<div class="container" id="allCampgrounds">
	<div class="row d-flex justify-content-center">
		<% campgrounds.forEach(function(campground){ %>
		<div class="col-lg-3 col-md-4 col-sm-6 pb-4 d-flex justify-content-center">
			<div class="card shadow " style="width: 18rem;">
				<img src="<%= campground.image %>" class="campground-img card-img-top" alt="<%= campground.name %>">
				<div class="card-body">
					<h5 class="card-title text-center"><strong><%= campground.name %></strong></h5>
					<p class="card-text">
						<% if(campground.description.length > 100){ %>
						<%= campground.description.substring(100, 0) + " ..." %>
						<%  } else { %>
						<%= campground.description %>
						<% } %>
					</p>
					<!--The ID already exist because it is created automatically-->
					<a href="/campgrounds/<%= campground._id %>" class="btn">See more</a>
				</div>
			</div>
		</div>
		<% }); %>
	</div>
</div>

<!-- FOOTER => -->
<% include ../partials/footer%>