<% include ../partials/header %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead"><em>YelpCamp</em></p>
			<div class="yelpCampInfo list-group mb-sm-3">
				<li class="list-group-item activeItem">Info 1</li>
				<li class="list-group-item">Info 2</li>
				<li class="list-group-item">Info 3</li>
				<li class="list-group-item">Info 4</li>
			</div>
		</div>
		<div class="col-md-9">
			<div class="card card-image border-secondary border-top border-bottom bg-light">
				<img class="img-responsive" src="<%= campground.image %>" alt="<%= campground.name %>">
				<div class="mx-2">
					<div class="row mt-3">
						<div class="col-12 col-md-7">
							<a href="/campgrounds/<%= campground._id %>">
								<h3 class="campgroundName"><strong><%= campground.name %></strong></h3>
							</a>
						</div>
						<div class="col-12 col-md-5 text-right">
							<h3 class="campgroundPrice">$<%= campground.price %>/night</h3>
						</div>
					</div>
					<p class="campgroundDescription text-justify"><%= campground.description %></p>
					<p class="campgroundauthor">
						<em>Submitted By: <%= campground.author.username %></em>
					</p>
					
					<!-- Em app.js colocamos que em cada pรกgina existirรก um currentUser, podemos usar isso aqui -->
					<% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
						<div class="ownerButtons d-flex-inline float-right mb-2">
							<p class="d-inline">
								<a href="/campgrounds/<%= campground._id %>/edit"><button class="editButton btn">Edit</button></a>
							</p>	
							<!-- THE FORM HAS TO HAVE A UNIQUE ID TO SUBMIT CORRECTELY-->
							<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST" class="d-inline" id="formDeleteCampID<%= campground._id %>">
								<!--type button is important not submit the form -->
								<button type="button" id="<%= campground._id %>" class="dialogOpener btn">Delete</button>
								<div id="dialog<%= campground._id %>" class="dialog" title="Delete Campground">
									<p>
										Are you sure that you want to delete this campground?
									</p>
								</div>	
							</form>
						</div>	
					<% }; %>
				</div>
			</div>
			<div class="card card-comments border-secondary border-top border-bottom mt-4 bg-light">
				<div class="text-right mx-2 my-2">
					<a class="newCommentButton btn" href="/campgrounds/<%= campground._id %>/comments/new">
					New Comment
					</a>
				</div>
				<div class="container my-3">
					<h3 class="commentsDisplay text-left mb-3">Comments</h3>
					<% campground.comments.forEach(function(comment){ %>
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-6">
										<h4 class="commentAuthor">
											<strong><%= comment.author.username %></strong>
										</h4>
									</div>
									<div class="col-6 d-flex justify-content-end">
										<span><em>10 days ago</em></span>
									</div>
								</div>
								<p class="commentText text-justify"><%= comment.text %></p>
								<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
								<p class="d-inline">
									<a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
										<button class="btn btn-sm editButton">Edit</button>
									</a>
								</p>
								<form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" class="d-inline" id="formDeleteCommentID<%= comment._id %>">
									<!--type button is important not submit the form -->
									<button type="button" class="dialogOpener btn btn-sm" id="<%= comment._id %>">Delete</button>
									<div id="dialog<%= comment._id %>" class="dialog" title="Delete Comment">
										<p>
											Are you sure that you want to delete this comment?
										</p>
									</div>	
								</form>
								<% }; %>
							</div>
						</div>
					<% }); %>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>