<% include ../partials/header%>

<div class="row h-100 w-100 mx-0">
	<div class="d-flex justify-content-center align-items-center col-md-3 pl-5 py-3 border-right" id="myProfileCol" style="background-color: #E6D7FF;">
		<div class="text-center">
			<h1>My Profile</h1>
			<div id="profileAccordion">
				<ul id="profileOption">
					<li id="editCamp">Edit Campgrounds</li>
				</ul>
			</div>
			<button class="btn btn-outline-dark btn-sm"><a href="/campgrounds">See all Campgrounds</a></button>
		</div>
	</div>
	<div class="col-md-9 p-0" id="campgroundsCol">
		<div class="row d-flex justify-content-center m-2">
			<% var myCamps = 0; %>
			<% campgrounds.forEach(function(campground){ %>
				<% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
					<% myCamps++;%>
					<div class="col-lg-4 col-sm-6 pb-4 d-flex justify-content-center">
						<div class="card shadow" style="width: 18rem;">
							<a href="/campgrounds/<%= campground.id %>/">
								<img src="<%= campground.image %>" class="campground-img card-img-top" alt="<%= campground.name %>">
							</a>
							<div class="card-body">
								<h5 class="card-title text-center">
									<a href="/campgrounds/<%= campground.id %>/">
										<strong><%= campground.name %></strong>
									</a>
								</h5>
								<p class="card-text">
									<% if(campground.description.length > 100){ %>
											<%= campground.description.substring(100, 0) + " ..." %>
									<%  } else { %>
											<%= campground.description %>
										<% } %>
								</p>
								<div class="ownerButtons d-flex-inline float-right mb-2">
									<button class="editButton btn btn-warning" >
										<a class="text-white" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
									</button>

									<!-- FORM TO DELETE THIS CAMPGROUND -->
									<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST" class="d-inline">
										<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteCampground-<%= campground._id %>">
											Delete
										</button>
										
										<div class="modal fade" id="deleteCampground-<%= campground._id %>" tabindex="-1" aria-labelledby="deleteCampgroundLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="deleteCampgroundLabel">Delete Campground</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">
														Are you sure that you want to delete this campground?
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
														<button type="submit" class="btn btn-danger deleteCampgroundButton">Delete</button>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				<% }; %>
				<% return myCamps; %>
			<% }); %>	
			<% if(myCamps == 0){ %>
				<div class="w-100 text-center">
					<div class="w-100" style="height: 90vh; width: 90vh;background-image: url('./img/notfound404.jpg'); 
						 background-repeat: no-repeat; background-size: cover; background-position: center;">
					</div>
					<a href='https://www.freepik.es/vectores/plantilla' style="font-size: 0.5em;">Creado por freepik</a>
				</div>
			<% }; %>
		</div>
	</div>
</div>

<% include ../partials/footer%>
